<a href="https://colab.research.google.com/github/anaynasingh/LnB_project/blob/main/predictingprofit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Training a machine learning model so that it's capable of predicting the profit a company after their expenses

In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Importing the dataset
df = pd.read_csv('/content/50_Startups (1).csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [8]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
split = 0.90

Using Random Forest Regression

In [41]:
#Using Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [14]:
X = df[['R&D Spend', 'Administration', 'Marketing Spend']]
y = df['Profit']
regressor = RandomForestRegressor()
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = split, random_state = 42)
trained_model = regressor.fit(X_train, y_train)
y_pred = trained_model.predict(X_test)

In [31]:
print(X_test)

    R&D Spend  Administration  Marketing Spend
13   91992.39       135495.07        252664.93
39   38558.51        82982.09        174999.30
30   61994.48       115641.28         91131.24
45    1000.23       124153.04          1903.93
17   94657.16       145077.58        282574.31

In [34]:
print('Actual Values:\n', y_test)
print('Predicted Values:', y_pred)

Actual Values:
 13    134307.35
39     81005.76
30     99937.59
45     64926.08
17    125370.37
Name: Profit, dtype: float64
Predicted Values: [128979.8569  90133.2941  98288.8284  39459.2303 131052.5713]

In [43]:
#Accuracy score
print("R2 score =", round(r2_score(y_test, y_pred), 2))

R2 score = 0.77